---
import { Icon } from "astro-icon"

import LandingLayout from "../../layouts/LandingLayout.astro"
import PageHeader from "../../components/molecules/PageHeader.astro"
import PageBlock from "../../components/molecules/PageBlock.astro"
import { format, parseISO } from "date-fns"

const title = "Reflections"
const description = "Accepting Imperfections"

type Event = {
  name: string,
  startDate?: string,
  endDate?: string,
  time?: string,
  completed?: string,
  href?: string,
  isDateSpan?: boolean,
  dateString?: string,
}

const events: Event[] = [
  { name: "Students submit their artwork to Marshdale PTA", startDate: '2024-11-13' }, 
  { name: "Marshdale celebration for students who earned Award of Excellence or Award of Merit", startDate: '2024-11-20', time: "6 - 7pm" }, 
  { name: "Artwork displayed at Marshdale", startDate: '2024-11-13', endDate: '2024-12-06', isDateSpan: true }, 
  { name: "Judging and winners selected", startDate: '2024-11-14', endDate: '2024-11-15', isDateSpan: true },
  { name: "Award winners will be submitted to Jeffco PTA for next level judging", startDate: '2024-12-06' },
  { name: "Artwork displayed for public viewing at Red Rocks Community College—Lakewood", startDate: '2024-12-07', endDate: '2024-12-13', isDateSpan: true },
  { name: "Jeffco awards ceremony at Red Rocks CC", startDate: '2024-12-14' }, 
  { name: "Artwork not moving on to State will be returned to students", startDate: '2024-12-16' },
].map((event: Event) => {
  if (!event.dateString && event.startDate) {
    const startDate = parseISO(event.startDate)

    if (event.endDate) {
      const endDate = parseISO(event.endDate)
      
      if (event.isDateSpan) {
        event.dateString = format(startDate, "MMM d-") + format(endDate, "d, y")
      } else {
        event.dateString = format(startDate, "MMM d & ") + format(endDate, "d, y")
      }
    } else {
      event.dateString = format(startDate, "MMM d, y")
    }
  }
  
  return event
})
---

<LandingLayout title={title} description={description}>
  <img src="/img/national_pta_reflections.png" width="550" height="85" alt={description} class="w-full max-w-prose mx-auto rounded-xl pt-18 sm:pt-24 pb-6 sm:pb-18">
  
  <div class="relative px-4 sm:px-6 lg:px-8 pb-8">
    <div class="mt-2 prose prose-indigo prose-lg text-gray-800 mx-auto">
      <h3 class="text-center max-w-xl mx-auto text-xl pb-8">
        {description}
      </h3>
      <!-- <p>
        Reflections Theme: Accepting Imperfections
        Reflections Due Date: November 13

        Reflections Info: https://docs.google.com/document/d/1-Z_gHxIY-qUVkejMPj84r3sXlsZqeGoKpUsG0M9rgLA/edit?usp=sharing

        PTA Reflections Website: https://www.pta.org/home/programs/reflections 

        Reflections Entry Form: https://www.pta.org/docs/default-source/files/programs/reflections/_evergreen-program-materials/local-leader-resources/fillable-student-entry-form_reflections.pdf


        Coming soon. Details will be posted when it is available.
      </p> -->
      <p>
        <span class="font-bold">Turn-in Day November 13th</span>
        <!-- <span class="block">Where? (*preferred turn-in time)</span>
        <span class="block pl-6">
          8:30 - 9:30 Watch D.O.G.S. desk by the front office*
        </span>
        <span class="block pl-6">
          3:00 - 4:00 Watch D.O.G.S. desk by the front office*
        </span> -->
        <!-- <span class="block pl-6">
          9:30 - 3:00 Front Office
        </span> -->
      </p>
      <p>
        The Reflections art program is run through local PTAs, and allows students in grades P-12 to enter pieces in visual arts, photography, literature, film production, dance choreography, and music composition. Winners at the school level advance to district, then state and national, with a chance to win awards and scholarships. The 2024-2025 theme is "Accepting Imperfections"
      </p>

      <h3>Resources</h3>
      <ul>
        <li>National PTA Reflections Website: <a href="https://www.pta.org/home/programs/reflections">Read more</a></li>
        <li>Student Entry Form (please print and turn in with your project): <a href="https://www.pta.org/docs/default-source/files/programs/reflections/_evergreen-program-materials/local-leader-resources/fillable-student-entry-form_reflections.pdf">download</a></li>
        <li>Marshdale Reflections Info: <a href="https://docs.google.com/document/d/1-Z_gHxIY-qUVkejMPj84r3sXlsZqeGoKpUsG0M9rgLA/edit?usp=sharing">download</a></li>
        <li>Tips from the judges: <a href="http://www.jcpta.org/wp-content/uploads/2022/08/Jeffco-PTA-Reflections-Student-Information-2022.pdf">download</a></li>
        <li>Marshdale Contact for Questions: <a href="mailto:rachel.gaffney@marshdalepta.org" class="underline">rachel.gaffney@marshdalepta.org</a></li>
        <!-- <li>Reflections Student Info Sheet: <a href="/assets/2022-Reflections-Student-Info-Sheet.pdf" class="underline">download</a></li> -->
      </ul>
      
      <h3>Check list</h3>
      <ul>
        <li>
          Did you follow the specific format and rules for the category you chose?
        </li>
        <li>
          Is your artwork and entry form prepared according to instructions provided by Jeffco?
        </li>
        <li>
          Did you complete the Student Entry Form?
        </li>
        <li>
          Do you have a title for your piece?
        </li>
        <li>
          Did you get a parent signature on the Student Entry Form?
        </li>
        <li>
          Did you write a Student Artist Statement at the bottom of the Student Entry Form?
        </li>
      </ul>
    </div>
  </div>  
  {events.length > 0 && (
  <PageBlock heading="Reflections Timeline">
    <div class="lg:col-span-2">
      <div class="lg:w-9/12">
        <ul role="list" class="-mb-8 mt-6 lg:mt-0">
          {events.map(({ name, href, dateString, startDate, time }) => (
            <div class="relative pb-8">
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div>
                  <span class={`${startDate && dateString ? 'bg-green-500' : 'bg-gray-400'} h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-white`}>
                    <Icon pack="heroicons-solid" name={startDate && dateString ? 'calendar' : 'cog'} class="h-5 w-5 text-white" />
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-sm text-gray-900">
                      {href ? (<a href={href} class="hover:underline font-medium text-blue-700" target="_blank">{name}</a>) : name}
                    </p>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    { dateString || "Planned" }
                    { time && (
                      <span class="block pt-1">{time}</span>
                    )}
                  </div>
                </div>
              </div>
            </div>
          ))}
        </ul>
      </div>
    </div>
  </PageBlock>
  )}
</LandingLayout>
