---
import { Icon } from "astro-icon"

import LandingLayout from "../../layouts/LandingLayout.astro"
import PageHeader from "../../components/molecules/PageHeader.astro"
import PageBlock from "../../components/molecules/PageBlock.astro"
import { format, parseISO } from "date-fns"

const title = "Science and Engineering Fair"
const description = ""//"February 22-23, 2023"

type Event = {
  name: string,
  startDate?: string,
  endDate?: string,
  time?: string,
  completed?: string,
  href?: string,
  isDateSpan?: boolean,
  dateString?: string,
}

const events: Event[] = [
  // { name: "Registration forms (either print or digital) due", startDate: '2024-02-07' }, 
  // { name: "Projects due at school between 8 and 9:30 am", startDate: '2024-02-21' }, 
  // { name: "Judging", startDate: '2024-02-21', endDate: '2024-02-22', isDateSpan: true },
  // { name: "Winners announced", startDate: '2024-02-22' },
  // { name: "Projects not advancing are returned", startDate: '2024-02-23' },
  // { name: "Mountain Area Science and Engineering Fair", dateString: 'TBD' }, 
].map((event: Event) => {
  if (!event.dateString && event.startDate) {
    const startDate = parseISO(event.startDate)

    if (event.endDate) {
      const endDate = parseISO(event.endDate)
      
      if (event.isDateSpan) {
        event.dateString = format(startDate, "MMM d-") + format(endDate, "d, y")
      } else {
        event.dateString = format(startDate, "MMM d & ") + format(endDate, "d, y")
      }
    } else {
      event.dateString = format(startDate, "MMM d, y")
    }
  }
  
  return event
})
---

<LandingLayout title={title} description={description}>
  <PageHeader title={title} description={description} />
  <div class="relative px-4 sm:px-6 lg:px-8 pb-8">
    <div class="mt-2 prose prose-indigo prose-lg text-gray-800 mx-auto">
      <p>
        The fair is open to all K-5 students. First place winners from divisions 
        II and III will advance to the Mountain Area Science and Engineering Fair in March.
      </p>
      <p>
        Planning will be begin when we get closer to the event.
      </p>
      <!-- <p>
        Use the following links to get important forms and information about the 
        entire process. If you need a printed packet, please see the front office.
      </p> -->

      <p>
        <!-- <h3>Resources</h3> -->
        <ul>
          <!-- <li>Registration and Informational packet: <a href="https://docs.google.com/document/d/1B8SBVNkN8H5gZ8RnBRM-rz1U4klh3y5X7s75yBDzcqI/edit" target="_blank">2024 Science Fair Packet</a></li>
          <li>Registration Google Form: <a href="https://forms.gle/F7rMD2sYBwmPsdgq5" target="_blank">Science Fair Submission Form</a></li> -->
          <!-- <li>Registration Printable Form: <a href="/assets/Science_Fair_Registration_Form.pdf" target="_blank">Science Fair Registration Form</a></li> -->
          <!-- <li>Student/Adult Participation Printable Form: <a href="/assets/Student_Adult_Involvement_Form.pdf" target="_blank">Student/Adult Involvement Form</a></li> -->
        </ul>
      </p>

      <!-- <p>
        <span class="font-bold">Calling volunteers!</span>
        We need judges for Wednesday, February 21 and Thursday, February 22. Even if your child is entering a project, please consider volunteering 
        to help make our Science Fair a success. If you are willing to give 30 minutes to 2 hours 
        of your time to help judge the projects, please sign-up for one of our judging sessions.
        <br />
        <br />
        Sign-up: <a href="https://www.signupgenius.com/go/8050445AEA92DAAFE3-47163026-science?useFullSite=true#/" target="_blank">https://www.signupgenius.com/go/4090E45A4A72DA7FC1-marshdale</a>
      </p>
      <p>
        <span class="font-bold">Questions?</span> Contact <a href="mailto:education@marshdalepta.org" class="underline">education@marshdalepta.org</a>
      </p> -->
    </div>
  </div>
  {events.length > 0 && (
  <PageBlock heading="Important Dates">
    <div class="lg:col-span-2">
      <div class="lg:w-9/12">
        <ul role="list" class="-mb-8 mt-6 lg:mt-0">
          {events.map(({ name, href, dateString, startDate, time }) => (
            <div class="relative pb-8">
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div>
                  <span class={`${startDate && dateString ? 'bg-green-500' : 'bg-gray-400'} h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-white`}>
                    <Icon pack="heroicons-solid" name={startDate && dateString ? 'calendar' : 'cog'} class="h-5 w-5 text-white" />
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-sm text-gray-900">
                      {href ? (<a href={href} class="hover:underline font-medium text-blue-700" target="_blank">{name}</a>) : name}
                    </p>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    { dateString || "Planned" }
                    { time && (
                      <span class="block pt-1">{time}</span>
                    )}
                  </div>
                </div>
              </div>
            </div>
          ))}
        </ul>
      </div>
    </div>
  </PageBlock>
  )}
</LandingLayout>
