---
import LandingLayout from "../layouts/LandingLayout.astro"
import PageHeader from "../components/molecules/PageHeader.astro"

const title = "Frequently asked questions"
const description = "You can support "

const questions = [
  {
    question: "As a PTA member am I obligated to volunteer?",
    answer:
      `Anyone can be a member - parents, grandparents, community members and alumni. 
      Membership is not tied to any volunteer commitments, but rather a way to show
      your support for the programs and events the PTA provides.`,
  },
]
---
<LandingLayout title="Contact" description={description}>
  <PageHeader title={title} description="">
    <p class="mt-4 text-gray-700">
      If your question isn't answered here, please
      <a href="mailto:info@marshdalepta.org" class="underline"
        >contact us.</a
      >
    </p>
  </PageHeader>
  <div class="py-20 bg-gray-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <dl
        class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10"
      >
        {questions.map(({ question, answer }) => (
          <div>
            <dt class="font-semibold text-gray-700">
              { question }
            </dt>
            <dd class="mt-3 text-gray-500">
              { answer }
            </dd>
          </div>
        ))}
      </dl>
    </div>
  </div>
</LandingLayout>
