---
import LandingLayout from "../layouts/LandingLayout.astro"
import HeroSection from "../components/organisms/HeroSection.astro"
import HowItWorksSection from "../components/organisms/HowItWorksSection.vue"
import BecomeAMemberCta from "~/components/organisms/BecomeAMemberCta.vue"
---

<LandingLayout transparentNavbar={true}>
  <HeroSection learnMoreId="learn-more" />

  <HowItWorksSection client:load id="learn-more" />

  <BecomeAMemberCta client:load />
</LandingLayout>
