---
import LandingLayout from "../layouts/LandingLayout.astro"

const title = "Become a Marshdale PTA Member"
const description = "Your business advertised at North Turkey Creek and 73"

const benefits = [
  "Have a voice",
  "Create positive change",
  "Supports the school",
  "Connect with other parents"
]


---
<LandingLayout title={title} description={description}>
  <div class="pt-12">
    <div class="bg-gray-100">
      <div class="pt-12 sm:pt-16 lg:pt-20">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center">
            <h1
              class="text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl font-display"
            >
              {title}
            </h1>
            <!-- <p class="mt-4 text-xl text-gray-600">
              Your business advertised at North Turkey Creek and 73.
            </p> -->
          </div>
        </div>
      </div>
      <div class="mt-2 bg-white pb-16 sm:mt-4 sm:pb-20 lg:pb-28">
        <div class="relative">
          <div class="absolute inset-0 h-24 bg-gray-100"></div>
          <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div
              class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex"
            >
              <div class="flex-1 bg-white px-6 py-8 lg:p-12 text-base text-gray-500">
                <p class="mt-6">
                  It is our goal to connect with every Marshdale family. We invite you to join the PTA.
                  Membership comes with many benefits but no obligations. While we welcome your involvement
                  and invite you to attend general meetings and volunteer, neither are required.
                </p>
                
                <div class="flex items-center mt-4">
                  <h4
                    class="flex-shrink-0 pr-4 bg-white text-sm tracking-wider font-semibold uppercase text-indigo-600"
                  >
                    Become a member
                  </h4>
                  <div class="flex-1 border-t-2 border-gray-200"></div>
                </div>

                <p class="mt-3">
                  <a href="https://marshdalepta.memberhub.com/store/items/739352" class="underline hover:text-gray-900" target="_blank">
                    Family Membership - $35
                  </a>
                </p>

                <p class="mt-3">
                  <a href="https://marshdalepta.memberhub.com/store/items/104447" class="underline hover:text-gray-900" target="_blank">
                    Individual Parent/Guardian - $20
                  </a>
                </p>

                <p class="mt-6">
                  If you are unable to register online using the links above,
                  please fill out the below form and turn into the school office.
                </p>

                <p class="mt-3">
                  <a href="/assets/PTA_Member_Form.pdf" class="underline hover:text-gray-900" target="_blank">
                    2023-24 Marshdale Elementary PTA Membership Form
                  </a>
                </p>

                <div class="mt-8">
                  <div class="flex items-center">
                    <h4
                      class="flex-shrink-0 pr-4 bg-white text-sm tracking-wider font-semibold uppercase text-indigo-600"
                    >
                      Benefits
                    </h4>
                    <div class="flex-1 border-t-2 border-gray-200"></div>
                  </div>
                  <ul
                    role="list"
                    class="mt-8 space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5"
                  >
                    {benefits.map((benefit) => (
                      <li class="flex items-start lg:col-span-1">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: solid/check-circle -->
                          <svg
                            class="h-5 w-5 text-green-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </div>
                        <p class="ml-3 text-sm text-gray-700">
                          { benefit }
                        </p>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
              <div
                class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12 lg:w-1/5"
              >
                <div class="mt-6">
                  <div class="rounded-md shadow">
                    <a
                      href="https://marshdalepta.memberhub.com/store"
                      class="flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900"
                    >
                      Become a Member
                    </a>
                  </div>
                </div>
                <div class="mt-6">
                  <a
                    href="https://marshdalepta.memberhub.com/store"
                    class="flex items-center justify-center border border-transparent text-base font-medium rounded-md text-white"
                  >
                    <img
                      class="w-full"
                      src="/assets/marshdale-pta-member-qr-code.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</LandingLayout>

