---
import { parseISO, isBefore } from 'date-fns';

import LandingLayout from "../../layouts/LandingLayout.astro"
import PostPreview from "../../components/molecules/PostPreview.astro"

const posts = await Astro.glob("./*.md")
  .then(posts => posts
    .map(({ frontmatter, url }) => ({
      ...frontmatter,
      date: parseISO(frontmatter.date),
      href: url,
    }))
    .sort((a, b) => {
      if (isBefore(a.date, b.date)) return 1
      if (isBefore(b.date, a.date)) return -1
      return 0
    })
  )
---

<LandingLayout title="News" description="">
  <div class="bg-gray-50 pt-16 mt-12 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
    <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
      <div>
        <h1 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl font-display">
          News
          <a href="/news/rss.xml" class="ml-2 text-gray-600 hover:text-gray-900">
            <span class="sr-only">RSS</span>
            <!-- heroicons/outline rss -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg>
          </a>
        </h1>
        <!-- <div class="mt-3 sm:mt-4 lg:grid lg:grid-cols-2 lg:gap-5 lg:items-center">
          <p class="text-xl text-gray-500">Sign up for our newsletter to stay in the loop.</p>
        </div> -->
      </div>
      <div class="mt-6 pt-10 grid gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
        {posts.map((post) => (
          <PostPreview post={post} />
        ))}
      </div>
    </div>
  </div>
</LandingLayout>
