---
import { format } from 'date-fns'

export interface Props {
  post: any;
}
const { post } = Astro.props

const displayDate = (post) => {
  return format(post.date, "PP")
}
---

<a href={post.href} class="flex flex-col rounded-lg shadow-lg overflow-hidden focus:ring focus:ring-indigo-600">
  <div class="flex-shrink-0">
    <img src={post.image || '/img/news-default.webp'} alt={post.imageAlt || post.title} class="h-48 w-full object-cover" />
  </div>
  <div class="flex-1 bg-white p-6 flex flex-col justify-between">
    <div>
      <p class="text-sm text-gray-500">
        <time datetime="2020-03-16">{displayDate(post)}</time>
      </p>
      <p class="text-xl font-semibold text-gray-900 mt-2 font-display">{post.title}</p>
    </div>
    <p class="mt-3 text-base text-gray-500">{post.description}</p>
  </div>
</a>
