<script setup lang="ts">
import FadeIn from "~/components/atoms/FadeIn.vue"
</script>

<template>
  <div class="bg-gray-50">
    <FadeIn>
      <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl font-display">
          <span class="block">Become a Marshdale PTA Member today.</span>
        </h2>
        <p class="mt-4 text-lg leading-6 text-gray-500">Registration is quick and easy.</p>
        <a href="/membership/" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-500 hover:text-white sm:w-auto">
          Ready to Join?
        </a>
      </div>
    </FadeIn>
  </div>
</template>