---
import { Icon } from "astro-icon"

type Notification = {
  enabled?: boolean,
  description?: string,
  descriptionShort?: string,
  button?: {
    text: string,
    link: string,
  }
}
const notification: Notification | null = 
null
// {
//   description: "Electronic Recycling Fundraiser!",
//   button: {
//     text: "More info",
//     link: "/assets/202403-greenteam-electronic_recycling_flyer.pdf"
//   }
// }
// {
//   description: "The Marshdale PTA membership drive is now open!",
//   button: {
//     text: "Join the PTA!",
//     link: "/membership/"
//   }
// }
// {
//   description: "Create your 2 free custom yearbook pages with your 2023 yearbook order.",
//   button: {
//     text: "Order a Yearbook",
//     link: "https://www.treering.com/purchase?PassCode=1016528018343197"
//   }
// }
// {
  // description: "Find the ways you can become a Business Sponsor.",
  // button: {
  //   text: "Become a Business Sponsor",
  //   link: "https://app.memberhub.gives/pta-business-sponsorship/Campaign/Details"
  // }
  // description: "Pumpkin Festival Sunday, October 30th 11am - 2pm",
  // button: {
  //   text: "Register",
  //   link: "https://marshdalepta.memberhub.com/store/items/784277"
  // }
// }

const firstColLinks = [
  {
    title: "News & Info", 
    children: [
      { name: "News", href: "/news/" },
      { name: "Officers & Staff", description: "PTA Officers & Staff - 2023 / 2024", href: "/officers-staff/" },
      { name: "Contact us", description: "We'd love to hear from you", href: "/contact/" },
    ],
  },
  {
    title: "Make a difference",
    children: [
      { name: "Watch D.O.G.S.", href: "https://marshdale.jeffcopublicschools.org/parent_resources/watch_dogs" },
      { name: "Marshdale Accountability Committee", href: "https://marshdale.jeffcopublicschools.org/parent_resources/marshdale_accountability_committee" },
    ],
  },
]

const year = new Date().getFullYear()
---
<footer class="bg-gray-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class:list={[ 'max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8', { 'mb-6': notification }]}>
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {firstColLinks.map(({ title, children }) => (
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">{title}</h3>
              <ul role="list" class="mt-4 space-y-4">
                {children.map(({ name, href }) => (
                  <li>
                    <a href={href} class="text-base text-gray-300 hover:text-white">{name}</a>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
      </div>
      <div class="mt-8 xl:mt-0">
      </div>
    </div>
    <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <a href="https://www.facebook.com/marshdaleelementarypta/" rel="me" target="_blank" class="text-gray-400 hover:text-gray-300">
          <span class="sr-only">Facebook</span>
          <Icon pack="mdi" name="facebook" class="h-6 w-6" />
        </a>
      </div>
      <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">&copy; {year} Marshdale PTA. All rights reserved.</p>
    </div>
  </div>
  {notification && (
    <div class="bg-gray-800 bottom-0 left-0 right-0 w-full fixed">
      <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between flex-wrap">
          <div class="w-0 flex-1 flex items-center">
            <span class="flex p-2 rounded-lg bg-white">
              <!-- Heroicon name: outline/speakerphone -->
              <svg class="h-6 w-6 text-gray-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path 
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M11 5.882V19.24a1.76 1.76 0 01-3.417.592l-2.147-6.15M18 13a3 3 0 100-6M5.436 13.683A4.001 4.001 0 017 6h1.832c4.1 0 7.625-1.234 9.168-3v14c-1.543-1.766-5.067-3-9.168-3H7a3.988 3.988 0 01-1.564-.317z"
                />
              </svg>
            </span>
            <p class="ml-3 text-base text-gray-300 truncate">
              <span class="md:hidden"> {notification.descriptionShort ?? notification.description} </span>
              <span class="hidden md:inline"> {notification.description ?? notification.descriptionShort} </span>
            </p>
          </div>
          {notification.button && (
            <div class="order-3 mt-2 flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
            <a href={notification.button.link}
              class="py-3 px-4 rounded-md shadow bg-green-600 text-white font-medium hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 focus:ring-offset-gray-900 whitespace-nowrap sm:w-min text-center">
              {notification.button.text}
            </a>
          </div>
          )}
        </div>
      </div>
    </div>
  )}
</footer>

