---
import ScrollingText from "~/components/atoms/ScrollingText.vue"

export interface Props {
  learnMoreId: string;
}

const { learnMoreId } = Astro.props
---

<div class="bg-white pb-8 sm:pb-12 lg:pb-12 flex items-center min-h-screen">
  <div class="pt-8 overflow-hidden sm:pt-12 md:pt-28 lg:pt-12 lg:relative lg:py-48 flex-grow">
    <div
      class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24"
    >
      <div>
        <h1
          class="mt-12 lg:mt-20 text-4xl tracking-tight font-bold text-slate-700 sm:text-5xl xl:text-5xl font-display"
        >
          <span class="block">Marshdale Elementary</span>
          <span class="block text-slate-500 mt-1">enables children
            <span class="block sm:inline">
              to
              <span class="ml-4 h-full">
                <ScrollingText client:idle words={["grow", "learn", "thrive"]} />
              </span>
            </span>
          </span>
        </h1>
        <p
          class="mt-3 text-base text-slate-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
        >
          Thanks to the generosity of our community, sponsors, and
          Marshdale families, our children have a robust environment
          to grow and learn.
        </p>
        <div class="mt-12 md:mt-6 flex gap-2 flex-col sm:flex-row">
          <a
            href="/membership/"
            class="py-3 px-4 rounded-md shadow bg-green-600 text-white font-medium hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300 focus:ring-offset-gray-900 whitespace-nowrap sm:w-min text-center"
          >
            Become a PTA Member
          </a>
          <a
            data-no-swup
            href={'#' + learnMoreId}
            class="py-3 px-4 rounded-md shadow bg-gray-700 text-white font-medium hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-300 focus:ring-offset-gray-900 whitespace-nowrap sm:w-min text-center"
          >
            Learn more
          </a>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div
        class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2"
      >
        <div class="hidden sm:block">
          <svg
            class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0"
            width="404"
            height="392"
            fill="none"
            viewBox="0 0 404 392"
          >
            <defs>
              <pattern
                id="837c3e70-6c3a-44e6-8854-cc48c737b659"
                x="0"
                y="0"
                width="20"
                height="20"
                patternUnits="userSpaceOnUse"
              >
                <rect
                  x="0"
                  y="0"
                  width="4"
                  height="4"
                  class="text-gray-600"
                  fill="currentColor"
                />
              </pattern>
            </defs>
            <rect
              width="404"
              height="392"
              fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
            />
          </svg>
        </div>
        <div
          class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12"
        >
          <img
            class="w-full rounded-md shadow-xl ring-8 ring-gray-200 ring-opacity-95 lg:h-full lg:w-auto lg:max-w-none"
            src="/img/marshdale-staff-superhero.webp"
            alt="Rendition of new Marshdale Elementary building opening Fall 2022"
            width="2000"
            height="1058"
          />
        </div>
      </div>
    </div>
  </div>
</div>
