<script setup lang="ts">
import { AcademicCapIcon, FlagIcon, LifebuoyIcon } from "@heroicons/vue/24/outline/index.js";
import FadeIn from "../atoms/FadeIn.vue"

const howItWorksSteps = [
  {
    id: 1,
    name: 'In the classroom...',
    description:
      `Maybe you volunteer as a room parent, filling Friday folders and helping with the
      math skills you forgot from 30 years ago.`,
    icon: AcademicCapIcon,
  },
  {
    id: 2,
    name: 'Cheer support...',
    description:
      "Maybe you pop in to help at recess or cheer from the sidelines handing out water!",
    icon: FlagIcon,
  },
  {
    id: 3,
    name: "Around the school...",
    description: 
      `Maybe you volunteer to mark shirts during the annual fundraisers,
      Mustang Trot, or maybe you volunteer to help plant trees on campus
      to provide more shade for our students.`,
    icon: LifebuoyIcon,
  }
]
</script>

<template>
  <div class="py-16 bg-gray-50 overflow-hidden lg:py-24">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
      <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404"
        height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
      </svg>

      <div class="relative">
        <FadeIn>
          <h2 class="text-center text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl font-display">Our Mission</h2>
          <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-500">
            To make every child's potential a reality by engaging and empowering families and communities to advocate for all children.
          </p>
        </FadeIn>
      </div>

      <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784"
        fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
      </svg>

      <div class="relative mt-12 sm:mt-16 lg:mt-24">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
          <div class="lg:col-start-2">
            <FadeIn fromDirection="right">
              <h3 class="text-2xl font-bold text-gray-900 tracking-tight sm:text-3xl font-display">Why I PTA</h3>
              <!-- <p class="mt-3 text-lg text-gray-500">
                To make every child's potential a reality by engaging and empowering families and communities to advocate for all children.
              </p> -->

              <dl class="mt-10 space-y-10">
                <div v-for="item in howItWorksSteps" :key="item.id" class="relative">
                  <dt>
                    <div
                      class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                      <component :is="item.icon" class="h-6 w-6" aria-hidden="true" />
                    </div>
                    <p class="ml-16 text-lg leading-6 font-medium text-gray-900 font-display">{{ item.name }}</p>
                  </dt>
                  <dd class="mt-2 ml-16 text-base text-gray-500">
                    {{ item.description }}
                  </dd>
                </div>
              </dl>

            </FadeIn>
          </div>

          <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
            <FadeIn fromDirection="left">
              <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden z-10" width="784"
                height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                <defs>
                  <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20"
                    patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                  </pattern>
                </defs>
                <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
              </svg>
              <figure class="text-center relative z-20">
                <img 
                  class="relative mx-auto"
                  width="490" 
                  height="397" 
                  src="/img/marshdale-patriot-day-2021.webp"
                  alt="It's the little things that matter.">
                <figcaption 
                  class="text-xs pt-2 text-slate-600">
                  Photo courtesy of <a href="https://www.jlopezphotography.com/" class="underline" target="_blank">Jenae Lopez Photography</a>.
                </figcaption>
              </figure>
            </FadeIn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
