---
import LandingLayout from "./LandingLayout.astro"
import { format, parseISO } from "date-fns"

export interface Props {
  content: {
		title: string;
		description: string;
    image: string;
    imageAlt: string;
		date?: string | Date;
  }
}

const { content: { title, description, image, imageAlt, date } } = Astro.props
let formattedDate: unknown
if (date) {
  if (typeof date === "string") {
    formattedDate = format(parseISO(date), "PP")
  } else {
    formattedDate = format(date, "PP")
  }
}
---

<LandingLayout title={title} description={description}>
  <div class="relative mt-12 py-16 bg-white overflow-hidden">
    <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
      <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
        <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" />
        </svg>
        <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
        </svg>
        <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
          <defs>
            <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
        </svg>
      </div>
    </div>
    <div class="relative px-4 sm:px-6 lg:px-8">
      <img src={image} alt={imageAlt} class="w-full max-w-prose mx-auto rounded-xl mb-12" />
      <div class="text-lg max-w-prose mx-auto">
        <h1>
          <span class="mb-2 block text-3xl text-center leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl font-display">{title}</span>
        </h1>
        {formattedDate && (
          <span class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">{formattedDate}</span>
        )}
        <p class="mt-8 text-xl text-gray-800 leading-8">
          {description}
        </p>
      </div>
      <div class="mt-6 prose prose-indigo prose-lg text-gray-800 mx-auto">
        <slot />
      </div>
    </div>
  </div>
</LandingLayout>
