---
import LandingLayout from "../../layouts/LandingLayout.astro"

const description = "Your business advertised at North Turkey Creek and 73"

const benefits = [
  "Cost-effective",
  "Posted along a high trafficed intersection",
  "Visual form of advertising",
  "Partnership between local businesses and schools",
]

---
<LandingLayout title="Marshdale PTA Fence Signs Sponsorship" description={description}>
  <div class="pt-12">
    <div class="bg-gray-100">
      <div class="pt-12 sm:pt-16 lg:pt-20">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="text-center">
            <h1
              class="text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl font-display"
            >
              Marshdale PTA Fence Signs Sponsorship
            </h1>
            <p class="mt-4 text-xl text-gray-600">
              Your business advertised at North Turkey Creek and 73.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-2 bg-white pb-16 sm:mt-4 sm:pb-20 lg:pb-28">
        <div class="relative">
          <div class="absolute inset-0 h-24 bg-gray-100"></div>
          <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div
              class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex"
            >
              <div class="flex-1 bg-white px-6 py-8 lg:p-12">
                <p class="mt-6 text-base text-gray-500">
                  The Marshdale PTA fence sign sponsorship program is a collaboration between local
                  business owners and the Marshdale Elementary PTA. The sponsorship program allows
                  local business owners to advertise their business along the North side of North
                  Turkey Creek on the Jeffco West Transportation Center (The bus barn) while also
                  supporting the Marshdale Elemenatary PTA.

                  <ul class="list-disc ml-6 mt-3 text-base text-gray-500">
                    <li>Fence signs are a visual form of adversing for business owners along the highly traveled N. Turkey Creek & Highway 73 in Evergreen, CO.</li>
                    <li>Fence signs are a cost-effective form of advertisement.</li>
                    <li>Fence signs are purchased by the business owner.</li>
                    <li>The fence sign location is rented by the Sponsor from Marshdale PTA.</li>
                    <li>Fence signs are renewed annually.</li>
                    <li>Fence sign content is approved by the Marshdale Elemenatary Principal.</li>
                  </ul>
                  
                  <!-- <p class="mt-3">
                    <a href="/assets/marshdale-pta-fence-sign-sponsorship-letter.pdf" class="underline hover:text-gray-900">2022-23 Marshdale Elementary PTA Fence Sign Sponsors</a>
                  </p> -->
                </p>
                <div class="mt-8">
                  <div class="flex items-center">
                    <h4
                      class="flex-shrink-0 pr-4 bg-white text-sm tracking-wider font-semibold uppercase text-indigo-600"
                    >
                      Benefits
                    </h4>
                    <div class="flex-1 border-t-2 border-gray-200"></div>
                  </div>
                  <ul
                    role="list"
                    class="mt-8 space-y-5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-5"
                  >
                    {benefits.map((benefit) => (
                      <li class="flex items-start lg:col-span-1">
                        <div class="flex-shrink-0">
                          <!-- Heroicon name: solid/check-circle -->
                          <svg
                            class="h-5 w-5 text-green-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            aria-hidden="true"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </div>
                        <p class="ml-3 text-sm text-gray-700">
                          { benefit }
                        </p>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
              <div
                class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12 lg:w-1/5"
              >
                <div class="mt-6">
                  <div class="rounded-md shadow">
                    <a
                      href="mailto:julie.winters@marshdalepta.org"
                      class="flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:bg-gray-900"
                    >
                      Request info
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</LandingLayout>

