---
import { Icon } from "astro-icon"

import LandingLayout from "../../layouts/LandingLayout.astro"
import PageBlock from "../../components/molecules/PageBlock.astro"
import { format, parseISO } from "date-fns"

const title = "Mustang Trot"
const description = "Get moving fundraiser for the whole school!"

type Event = {
  name: string,
  startDate?: string,
  endDate?: string,
  time?: string,
  completed?: string,
  href?: string,
  isDateSpan?: boolean,
  dateString?: string,
}

const events: Event[] = [
  {
    name: "First committee meeting via Zoom",
    startDate: "2024-08-13",
    dateString: "6:00pm August 13th",
    href: "https://us02web.zoom.us/j/84404269643?pwd=tQYfPZKOa3Gs1fVkFMuNRvJycgmCe9.1",
  },
  {
    name: "Second committee meeting via Zoom",
    startDate: "2024-08-19",
    dateString: "6:00pm August 19th",
    href: "https://us02web.zoom.us/j/82013787666?pwd=KkmtoKCfAtF5aKpPdssoCEeD7rkgCW.1",
  },
  { name: "Kick-off assembly", startDate: "2024-08-22" },
  { name: "T-shirt entry deadline", startDate: "2024-08-30" },
  { name: "T-shirt voting", startDate: "2024-09-02", endDate: "2024-09-05", isLongDateSpan: true, dateString: 'September 2-5th (winner announced on the 6th)' },
  { name: "Mustang Trot", startDate: "2024-10-04", dateString: "Morning of October 4th" },
  { name: "After Trot Assembly", startDate: "2022-10-11", dateString: 'Afternoon of October 11th' },
].map((event: Event) => {
  if (!event.dateString && event.startDate) {
    const startDate = parseISO(event.startDate)

    if (event.endDate) {
      const endDate = parseISO(event.endDate)
      
      if (event.isDateSpan) {
        event.dateString = format(startDate, "MMM d-") + format(endDate, "d, y")
      } else {
        event.dateString = format(startDate, "MMM d & ") + format(endDate, "d, y")
      }
    } else {
      event.dateString = format(startDate, "MMM d, y")
    }
  }
  
  return event
})
---

<LandingLayout title={title} description={description}>
  <img src="/img/marshdale-logo-370x337.webp" width="370" height="337" alt={description} class="max-w-prose mx-auto rounded-xl pt-18 sm:pt-24 pb-6 sm:pb-18">
  
  <!-- <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl font-display">
      <span class="block">Volunteer at the Trot!</span>
    </h2>
  </div> -->
  <!-- <div class="max-w-2xl mx-auto text-left py-16 px-4 sm:py-20 sm:px-6 lg:px-8"></div> -->
    <!-- <p class="mt-4 text-lg leading-6 text-gray-500">
      Coming soon. Details will be posted when it is available.
    </p> -->
    
    <!-- <a href="https://www.signupgenius.com/go/10C0E44A8A62AA1F4CF8-mustang" target="_blank" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-600 hover:bg-green-500 hover:text-white sm:w-auto">
      Volunteer
    </a>
    <a href="/assets/2023-mustangtrot-friday-folder-insert.pdf" target="_blank" class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 hover:text-white sm:w-auto">
      Friday Folder Flyer
    </a> -->
  <!-- </div> -->

  <div class="relative px-4 sm:px-6 lg:px-8 py-8">
    <div class="mt-2 prose prose-indigo prose-lg text-gray-800 mx-auto">
      
      <h3>Mustang Trot T-Shirt Contest</h3>
      <p class="mt-4 text-lg leading-6 text-gray-500">
        Form went home Thursday. Original designs only (any copied designs will be
        disqualified because it is not legal for us to print them).  Only black and white and must be handed in by
        the end of school on August 30th.  Judging will be September 3-4th.  All PTA members, sponsors, faculty and
        students will be able to vote.  Each grade will have one winner and will receive a $10 GC to Critter's.
        <!-- Help us make this event even more special for the kids. Picking a spot is quick and easy. -->
      </p>
      <h3>Register for the 2024 Mustang Trot</h3>
      <p class="mt-4 text-lg leading-6 text-gray-500">
        First 3 classrooms to have 100% registration wins a popcorn party!
        PLUS your student will be in a drawing to win great prizes from LIFEKour Academy at Eudaimonia, Happy Day,
        Lik's and Critter's!  NO FUNDRAISING NECESSARY!  But to be in the drawing and to get the correct size
        Mustang Trot T-Shirt you need to register before September 5th. Drawings will be Aug 30th, Sept 3 and Sept 6th.
      </p>
      <ol>
        <li>
          <p>
            Register at <a href="http://app.givebacks.gives/mustang" target="_blank">http://app.givebacks.gives/mustang</a>
          </p>
        </li>
        <li>
          <p>Mustang Trot T-Shirt Design Contest 2024: <a href="/assets/2024-mustangtrot-t-shirt-design-contest-form.pdf">download</a></p>
        </li>
        <!-- <li>
          <p>Mustang Trot Pledge Sheet: <a href="/assets/2023-Mustang_Trot-Pledge-Sheet.pdf">download</a></p>
        </li> -->
      </ol>
    </div>
  </div>

  {events.length > 0 && (
  <PageBlock heading="Save the Dates">
    <div class="lg:col-span-2">
      <div class="lg:w-9/12">
        <ul role="list" class="-mb-8 mt-6 lg:mt-0">
          {events.map(({ name, href, dateString, startDate, time }) => (
            <div class="relative pb-8">
              <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <div class="relative flex space-x-3">
                <div>
                  <span class={`${startDate && dateString ? 'bg-green-500' : 'bg-gray-400'} h-8 w-8 rounded-full flex items-center justify-center ring-8 ring-white`}>
                    <Icon pack="heroicons-solid" name={startDate && dateString ? 'calendar' : 'cog'} class="h-5 w-5 text-white" />
                  </span>
                </div>
                <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                  <div>
                    <p class="text-sm text-gray-900">
                      {href ? (<a href={href} class="hover:underline font-medium text-blue-700" target="_blank">{name}</a>) : name}
                    </p>
                  </div>
                  <div class="text-right text-sm whitespace-nowrap text-gray-500">
                    { dateString || "Planned" }
                    { time && (
                      <span class="block pt-1">{time}</span>
                    )}
                  </div>
                </div>
              </div>
            </div>
          ))}
        </ul>
      </div>
    </div>
  </PageBlock>
  )}
</LandingLayout>
